@import 'primeicons/primeicons.css';
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.footer-back{
    background-image: url('/public/images/footer-img-darling.svg');
    background-repeat:no-repeat;
    background-size: cover;
    width:100%;
    height:300px;
}

@layer components {
    .navlink {
        @apply hover:underline hover:underline-offset-4;
    }
}
